doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="noindex, nofollow")
        title Главная
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="css/board.css")
        script(type="text/javascript", src="js/board.js", defer)
    body
        header.page-header
            .brand
                a.brand-link(href="") Yatoorist.ru
            .header-control
                button.menu-collapse(onclick="menuToggle('#mainMenu')")
                    i.material-icons menu
                #mainMenu.collapse-header
                    button.btn.btn-default(data-toggle="modal", data-target="#signin") Войти
                    a.btn.btn-default(href="") Регистрация
                    a.btn.btn-default(href="") Мой кабинет
                    a.btn.btn-default(href="") Выход
        .top-form
            ul.checklist(style="margin: 0")
                each name, id in {'city-1':'Судак', 'city-2':'Джанкой', 'city-3':'Ялта', 'city-4':'Алушта', 'city-5':'Евпатория'}
                    li
                        label.list-check(for=id)
                            input.list-control(type="checkbox", id=id, label=name)

                li
                    label.list-check
                        span.list-label(data-toggle="modal", data-target="#cities") Еще
        .page
            .row
                .col.x-3
                .col.x-9
                    .container
            .row
                .col.x-3(style="border-right: 1px solid #cfcfcf")
                    div
                        form
                            ul.checklist.horisontal
                                each name, id in {'type-1':'Квартиры', 'type-2':'Комнаты', 'type-3':'Частные дома', 'type-4':'Гостиницы', 'type-5':'Летние домики'}
                                    li
                                        label.list-check(for=id)
                                            input.list-control(type="checkbox", id=id, label=name)
                            .form-group(style='margin-left: 20px')
                                .form-header
                                    h3 Удобства
                                each name, id in {'check-11':'Wi-Fi','check-12':'TV','check-13':'Кондиционер','check-14':'Баня','check-15':'Туалет','check-16':'Бассейн','check-17':'Стоянка','check-18':'Спутниковое TV','check-19':'Балкон'}
                                    label.form-check.out(for=id)
                                        input.form-control(type="checkbox", id=id, label=name)
                            div(style="text-align: center")
                                input.btn.btn-default(type="submit" value="Поиск" style="font-size: 16px")
                .col.x-9
                    .row
                        - for(i = 0; i < 20; i++)
                            .col.x-4
                                .card.card-default
                                    .card-picture
                                        img(src="img/card.jpg")
                                        .price От 1500
                                    .card-body
                                        .card-title
                                            h3 Сдаеться гостиница недалеко от моря
                                        .card-location
                                            a.location(href="")
                                                i.material-icons &#xE0C8;
                                                | Ялта, ул. Главная 1А
                                        .card-tags
                                            ul.tags
                                                each icon in ['wifi', 'tv', 'restaurant', 'pool']
                                                    li
                                                        i.material-icons= icon
                                        .card-mark
                                            a.mark(href="") Частный сектор
        footer.page-footer
            .row
                .col.x-4
                    a.brand(href="")
                        h1 Yatoorist
                .col.x-4
                    ul.social-links
                        each link in ['social fb', 'social vk', 'social tw', 'social gp', 'social ok', 'social rss']
                            li
                                a(class=link href="")
                .col.x-4
                    ul.useful-links
                        each link in ['Правила пользования', 'Правила конфиденциальности', 'Отказ от ответственности', 'Обратная связь']
                            li
                                a(href="")= link
        #signin.modal.flag.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        h3 Вход
                        button.modal-close
                            i.material-icons close
                    .modal-body
                        form
                            .form-group
                                label.form-input(for='account')
                                    input.form-control#account(type="text" label="Учетная запись")
                            .form-group
                                label.form-input(for='password')
                                    input.form-control#password(type="password" label="Пароль")
                                label.form-check.out(for='memberme', style="text-align: left")
                                        input.form-control(type="checkbox", id='memberme', label='Запомнить меня')
                            .form-group
                                button.btn.btn-indigo(type="submit") Войти
        #cities.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                    .modal-body