doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bulletin Board Front-end Framework
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="css/board.css")
        //- each item in ['js/form.js', 'js/collapse.js', 'js/modal.js', 'js/carousel.js', 'js/lightbox.js']
        //-     script(type="text/javascript", src=item, defer)
        script(type="text/javascript", src="js/board.js", defer)
    body
        //- header.header-flat
            .brand
                a.brand-link(href="") Yatoorist.ru
                button.menu-collapse
                    i.material-icons menu
            .content
                ul.menu-content
                    li
                        button(type="button", data-toggle="modal", data-target="#modal-2") Войти 
                    li
                        a(href="")  Регистрация
                    li
                        a(href="")  Личный кабинет
                    li
                        a(href="")  Выйти
        header.page-header
            .brand
                a.brand-link(href="") Brand
            .header-control
                button.menu-collapse(onclick="menuToggle('#menu-content')") 
                    i.material-icons menu
                .collapse-header(id='menu-content')
                    a.btn.btn-default(href="#", data-toggle="modal" data-target="#modal-2") Вход
                    a.btn.btn-default(href="?signup") Регистрация
                    a.btn.btn-default(href="?cabinet") Личный кабинет
                    a.btn.btn-default(href="?logout") Выйти
        .page
            .container
                .title
                    h3 Buttons
                .content
                    button.btn.btn-default Default Button
                    button.btn.btn-blue Blue Button
                    button.btn.btn-green Green Button
                    button.btn.btn-red Red Button
                    button.btn.btn-orange Orange Button
                    button.btn.btn-indigo Indigo Button
                    .btn-group
                        each item in ['First', 'Second', 'Third', 'Fours']
                            button.btn.btn-default= item
            .container
                .title
                    h3 Chips
                .content
                    each item in ['chip chip-default', 'chip chip-blue', 'chip chip-green', 'chip chip-red']
                        div
                            span(class=item) Simple Chip
                            span(class=item letter="L") Letter Chip
                            span(class=item image="img/flower.jpg") Image Chip
                                img.image(src="img/flower.jpg")
            .container
                .title
                    h3 Panels
                .content
                    .panel.panel-default panel
            .container
                .title
                    h3 Forms
                .content
                    .panel.panel-default
                        ul.checklist
                            each item in ['check-1','check-2','check-3','check-4','check-5']
                                li
                                    label(for=item class="list-check")
                                        input(id=item type="checkbox" class="list-control" label=item)
                        ul.checklist.horisontal
                            each item in ['check-1h','check-2h','check-3h','check-4h','check-5h']
                                li
                                    label(for=item class="list-check")
                                        input(id=item type="checkbox" class="list-control" label=item)
                        each item, i in ['text', 'email', 'password']
                            - var id = 'type-'+i
                            .form-group
                                label.form-input(for=id)
                                    input.form-control(id=id type=item label=item)
                        .form-group
                            label.form-file(id='type-4')
                                input.file-control(type="file" id="type-4" label="Upload File" data-src="img/flower.jpg" accept="image/*")
                        .form-group
                            .form-header
                                h4 Checklist
                            label.form-check.out(id="type-5")
                                input.form-control(type="checkbox" id="type-5" label="Check Label")
                            label.form-check.out(id="type-6")
                                input.form-control(type="checkbox" id="type-6" label="Check Label")
                            label.form-check.out(id="type-7")
                                input.form-control(type="checkbox" id="type-7" label="Check Label")
                            label.form-check.out(id="type-8")
                                input.form-control(type="checkbox" id="type-8" label="Check Label")
            .container
                .title
                    h3 Modals
                .content(style="text-align:center;")
                    button.btn.btn-default(data-toggle="modal" data-target="#modal-1") Default Modal
                    button.btn.btn-default(data-toggle="modal" data-target="#modal-2") Flag Modal
                #modal-1.modal.fade
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h3 Modal Header
                                button.modal-close
                                    i.material-icons close
                            .modal-body
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            .modal-footer
                                button.btn.btn-default(data-toggle="modal" data-trigger="close") Close Modal
                #modal-2.modal.flag.fade
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h3 Sign In
                                button.modal-close
                                    i.material-icons close
                            .modal-body
                                form
                                    .form-group
                                        label.form-input(for='account')
                                            input.form-control#account(type="text" label="Login")
                                    .form-group
                                        label.form-input(for='password')
                                            input.form-control#password(type="password" label="Password")
                                    .form-group
                                        button.btn.btn-indigo(type="submit") Log In
            .container
                .title
                    h3 Carousel
                .content
                    #myCarousel.carousel
                        .carousel-content
                            .item
                                img(src="img/card.jpg")
                            .item
                                img(src="img/card.jpg" style="filter: invert(100%)")
                            .item
                                img(src="img/card.jpg")
                            .item
                                img(src="img/card.jpg" style="filter: grayscale(100%)")
                        button.carousel-left
                            i.material-icons &#xE314;
                        button.carousel-right
                            i.material-icons &#xE315;
            .container
                .title
                    h3 Responsive
                .content
                    .row
                        each item in ['col x-1','col x-11','col x-2','col x-10','col x-3','col x-9','col x-4','col x-8','col x-5','col x-7','col x-6','col x-6','col x-12']
                            div(class=item)
                                .panel=item
            .container
                .title
                    h3 Cards
                .content
                    .row
                        each item in ['card card-default', 'card card-indigo', 'card card-green', 'card card-red']
                            .col.x-3
                                div(class=item)
                                    .card-picture
                                        img(src="img/card.jpg")
                                        .price from $2000
                                    .card-body
                                        .card-title
                                            h3 Card Title
                                        .card-location
                                            a.location(href="")
                                                i.material-icons &#xE0C8;
                                                | Moscow City
                                        .card-tags
                                            ul.tags
                                                each icon in ['wifi', 'tv', 'restaurant', 'pool']
                                                    li
                                                        i.material-icons= icon
                                        .card-mark
                                            a.mark(href="") Mark
            .container
                .title
                    h3 Calendar
                .content
                    .row
                        each calendar in ['calendar calendar-default', 'calendar calendar-indigo', 'calendar calendar-green', 'calendar calendar-red']
                            .col.x-3
                                div(class=calendar)
                                    table.calendar-content
                                        thead.calendar-heading
                                            tr
                                                th(colspan="7") January 2017
                                        tbody.calendar-headers
                                            tr
                                                each day in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                                                    td= day
                                        tbody.calendar-body
                                            tr
                                                td.past 26
                                                td.past 27
                                                td.past 28
                                                td.past 29
                                                td.past 30
                                                td.past 31
                                                td.booked 1
                                            tr
                                                td.booked 2
                                                td.booked 3
                                                td.booked 4
                                                td.booked 5
                                                td.booked 6
                                                td.booked 7
                                                td.booked 8
                                            tr
                                                td 9
                                                td 10
                                                td 11
                                                td 12
                                                td 13
                                                td.booked 14
                                                td 15
                                            tr
                                                td 16
                                                td 17
                                                td.booked 18
                                                td.booked 19
                                                td.booked 20
                                                td 21
                                                td 22
                                            tr
                                                td 23
                                                td.booked 24
                                                td 25
                                                td.booked 26
                                                td.booked 27
                                                td 28
                                                td 29
                                            tr
                                                td 30
                                                td 31
                                                td.past 1
                                                td.past 2
                                                td.past 3
                                                td.past 4
                                                td.past 5
            .container
                .title
                    h3 Collapse
                .content
                    .collapse
                        .collapse-header
                            h4 Collapse Header
                        .collapse-content
                            p   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .container
                .title
                    h3 Lightbox
                .content
                    img.img-content(src="img/card.jpg", data-toggle="lightbox", data-target="#myLightbox")
                    #myLightbox.lightbox.fade
                        button.lightbox-close &times;
                        .lightbox-viewport
                            .lightbox-content
                                .image
                                    img(src="img/card.jpg")
                                .image
                                    img(src="img/card.jpg" style="filter: grayscale(100%)")
                                .image
                                    img(src="img/card.jpg")
                                .image
                                    img(src="img/card.jpg" style="filter: blur(2px)")
                                .image
                                    img(src="img/card.jpg")
                                .image
                                    img(src="img/card.jpg" style="filter: grayscale(100%)")
                                .image
                                    img(src="img/card.jpg")
                                .image
                                    img(src="img/card.jpg" style="filter: blur(2px)")
                            button.lightbox-left
                                i.material-icons &#xE314;
                            button.lightbox-right
                                i.material-icons &#xE315;
                        .lightbox-list
                            ul
                                li
                                    img(src="img/card.jpg")
                                li
                                    img(src="img/card.jpg" style="filter: grayscale(100%)")
                                li
                                    img(src="img/card.jpg")
                                li
                                    img(src="img/card.jpg" style="filter: blur(2px)")
                                li
                                    img(src="img/card.jpg")
                                li
                                    img(src="img/card.jpg" style="filter: grayscale(100%)")
                                li
                                    img(src="img/card.jpg")
                                li
                                    img(src="img/card.jpg" style="filter: blur(2px)")
            .container
                .title
                    h3 Tabs
                .content
                    .panel.panel-tab
                        .panel-header
                            - for(i = 1; i < 5; i++)
                                .tab Tab
                        .panel-content
                            - for(var i = 1; i < 5; i++)
                                .tab-container
                                    h1= i
            .container
                .title
                    h3 Control Panel
                .content
                    .panel.control-panel
                        .panel-menu
                            - for(i = 0; i < 6; i++)
                                .menu-group
                                    .menu-header Menu Header
                                    .menu-control
                                        a.btn-menu(href="//dev.unity", target="viewport") Dev Unity
                                        a.btn-menu(href="//arenda.unity", target="viewport") Arenda Unity
                                        button.btn-menu Facebook
                                        button.btn-menu Twitter
                        .panel-content
                            iframe(src="preview.html", frameborder="0", name="viewport")
            .container
                .title
                    h3 Alerts
                .content

        footer.page-footer
            .row
                .col.x-4.xs-full
                    a.brand(href="")
                        h1 Brand Name
                .col.x-4.xs-full
                    ul.social-links
                        each link in ['social fb', 'social vk', 'social tw', 'social gp', 'social ok', 'social rss']
                            li
                                a(class=link href="")
                .col.x-4.xs-full
                    ul.useful-links
                        each link in ['Правила пользования', 'Правила конфиденциальности', 'Отказ от ответственности', 'Обратная связь']
                            li
                                a(href="")= link
        #debug(style="position:fixed; bottom: 0; left: 0; z-index: 9999;")